{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["@typescript-eslint", "import", "react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", "tsx"]
      }
    ],
    "prettier/prettier": "error",
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "max-len": [
      "error",
      80,
      { "ignoreUrls": true, "ignorePattern": "^import |^export {(.*?)}" }
    ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "env": {
    "jest": true
  },
  "globals": { "fetch": false }
}

